

<table class="table table-hover table-bordered display table-striped" width="100%">
    <tr class="text-center">
        <th class="text-center"># Cobro</th>
        <th class="text-center"># Casa</th>
        <th class="text-start"># Propietario</th>
        <th class="text-center">Periodo</th>
        <th class="text-center">Estado</th>
        <th class="text-center"></th>
    </tr>
    @{

        if (Session["UserTipo"].Equals("Empleado"))
        {
            foreach (var co in this.Model.CobrosList)
            {
                <tr class="text-center">
                    <td class="text-center">@co.Id_cobro</td>
                    <td class="text-center">@co.Nombre_casa</td>
                    <td class="text-start">@co.Persona</td>
                    <td class="text-center">@co.Mes - @co.Anno</td>
                    <td class="text-center">@co.Estado</td>
                    <td class="text-center"> @Html.ActionLink("Consultar", "DetalleCobro", "Cobro", new { idCobro = co.Id_cobro }, new { @class = "btn btn-primary" })</td>
                </tr>


            }
        }
        else
        {
            foreach (var co in this.Model.CobrosClienteList)
            {
                <tr class="text-center">
                    <td>@co.Id_cobro</td>
                    <td>@co.Nombre_casa</td>
                    <td class="text-start">@co.Persona</td>
                    <td>@co.Mes - @co.Anno</td>
                    <td>@co.Estado</td>
                    <td> @Html.ActionLink("Consultar", "DetalleCobro", "Cobro", new { idCobro = co.Id_cobro }, new { @class = "btn btn-primary" })</td>
                </tr>
            }
        }

    }
</table>
