@model G03_Sistema_Condominios.Models.ModelCobroView

@{
    ViewBag.Title = "CrearModificarCobro";
}


<style>

    .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-dialog-titlebar {
        display: none;
    }
</style>


<div class="mt-4">

    @if (this.Model.Cobro == null)
    {
        <h2>Crear cobro</h2>
    }
    else
    {
        <h2>Modificar cobro</h2>
    }


    <div id="MsgDialog">
        <h4>Proceso completado</h4>
        <div>Se ha completado el proceso exitosamente</div>
        <div class="my-3">
            <button id="CerrarModal" class="btn btn-success">Continuar</button>
        </div>
        
    </div>

    <form method="post" id="FormCobro">

        <input type="hidden" id="IdCobro" name="IdCobro" />

        <div class="mb-3">
            <label class="form-label" for="IdCliente">Cliente</label>
            @{

                if (this.Model.Cobro != null)
                {
                    <select id="IdCliente" name="IdCliente" class="form-control" disabled></select>
                }
                else
                {
                    if (this.Model.Usuario.Tipo.Equals("Cliente"))
                    {
                        <select id="IdCliente" name="IdCliente" class="form-control" disabled></select>
                    }
                    else
                    {
                        <select id="IdCliente" name="IdCliente" class="form-control">
                            <option value="">Seleccione una opción</option>
                        </select>
                    }

                }

            }

        </div>

        <div class="mb-3">
            <label class="form-label" for="IdCasa">Casa</label>
            @{
                if (this.Model.Cobro != null)
                {
                    <select id="IdCasa" name="IdCasa" class="form-control" disabled></select>
                }
                else
                {
                    <select id="IdCasa" name="IdCasa" class="form-control">
                        <option value="">Seleccione una opción</option>
                    </select>
                }
            }

        </div>

        <div class="mb-3">
            <label class="form-label" for="Anno">Año</label>

            @{

                var a = (this.Model.Cobro != null) ? this.Model.Cobro.anno : 0;


                if (this.Model.Cobro != null)
                {
                    <select id="Anno" name="Anno" class="form-control" disabled>
                        <option value="@a" selected>@a</option>
                    </select>
                }
                else
                {
                    <select id="Anno" name="Anno" class="form-control">
                        <option value="">Seleccione una opción</option>

                        @foreach (var anno in this.Model.annos)
                        {
                            <option value="@anno">@anno</option>

                        }
                    </select>

                }
            }

        </div>

        <div class="mb-3">
            <label class="form-label" for="Mes">Mes</label>

            @{
                var contador = 1;
                var m = (this.Model.Cobro != null) ? this.Model.Cobro.mes : 0;

                if (m != 0)
                {
                    <select id="Mes" name="Mes" class="form-control" disabled>
                        @foreach (var mes in this.Model.meses)
                        {
                            if (contador == m)
                            {
                                <option value="@contador" selected>@mes</option>
                            }

                            contador = contador + 1;
                        }
                    </select>
                }
                else
                {
                    <select id="Mes" name="Mes" class="form-control">
                        <option value="">Seleccione una opción</option>
                        @foreach (var mes in this.Model.meses)
                        {
                            <option value="@contador">@mes</option>

                            contador = contador + 1;
                        }
                    </select>
                }


            }

        </div>


        <div class="mb-3" id="cbxServicios">
            <label class="form-label" for="Servicios">Servicios</label>

            @{
                var validador = false;

                foreach (var servicio in this.Model.Servicios)
                {
                    if (servicio.Estado)
                    {
                        if (this.Model.Cobro != null)
                        {
                            foreach (var detalleCobro in this.Model.DetalleCobro)
                            {
                                if (detalleCobro.Id_servicio == servicio.Id_servicio)
                                {
                                    <div>
                                        <input type="checkbox" id="@servicio.Id_servicio" name="Servicios" value="@servicio.Id_servicio" checked />
                                        <label for="@servicio.Id_servicio">@servicio.NombreCategoria : @servicio.Nombre</label>
                                    </div>

                                    validador = true;
                                }
                            }

                        }

                        if (!validador)
                        {
                            <div>
                                <input type="checkbox" id="@servicio.Id_servicio" name="Servicios" value="@servicio.Id_servicio" />
                                <label for="@servicio.Id_servicio">@servicio.NombreCategoria : @servicio.Nombre</label>
                            </div>
                        }

                        validador = false;
                    }

                }


            }

            <label id="checkboxValidation" class="text-danger" style="font-size: 14px"></label>

        </div>

        <div>

            <span><input type="submit" class="btn btn-primary" value="Guardar" /></span>
            @if (this.Model.Cobro == null)
            {
                <span>@Html.ActionLink("Regresar", "Index", "Cobro", new { }, new { @class = "btn btn-secundary btn-outline-dark" })</span>
            }
            else
            {
                <span>@Html.ActionLink("Regresar", "DetalleCobro", "Cobro", new { idCobro = this.Model.Cobro.IdCobro }, new { @class = "btn btn-secundary btn-outline-dark" })</span>
            }

        </div>

    </form>


</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/validacionesGenericas.js"></script>
    <script type="text/javascript">
        $("#FormCobro").validate({
            rules: {
                'IdCliente': {
                    required: true
                },
                'IdCasa': {
                    required: true
                },
                'Anno': {
                    required: true
                },
                'Mes': {
                    required: true
                }
            },
             submitHandler: function (form) {
                checkboxesValidation();
            }


        });

        function loadDropdown(url, parametros, ddl, selected) {
            $.ajax({
                url: url,
                datatype: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(parametros),
                success: function (data) {
                    ddl.empty();
                    ddl.append("<option value=''>Seleccione una opción</option>");
                    $(data).each(function () {
                        var option = new Option(this.Nombre, this.Id);
                        if (this.Id == selected) {
                            option.selected = true;
                        }
                        ddl.append(option);
                    });

                },
                error: function (jQxhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        };

        function setChanges() {
            $("#IdCliente").change(function () {
                loadDropdown("/Cobro/Casas", { idCliente: $("#IdCliente").val() }, $("#IdCasa"));
            });

            $("input[name='Servicios']").change(function () {
                var checkboxValidation = document.getElementById('checkboxValidation');
                checkboxValidation.innerHTML = "";
            })
        };

        function checkboxesValidation() {
            var checkboxes = document.querySelectorAll('input[name="Servicios"]:checked');
            var checkboxValidation = document.getElementById('checkboxValidation');

            if (checkboxes.length >= 1) {
                guardar();
            } else {
                checkboxValidation.innerHTML = "Debe seleccionar al menos un servicio";
            }

        }

        function obtCheckboxes() {

            var checkboxes = document.querySelectorAll('input[name="Servicios"]:checked');
            var list = [];

            $.each($("input[name='Servicios']:checked"), function () {
                list.push($(this).val());
            });

            console.log(list);

            return list;
        }

        function cargar(){
            var IdCobro = @((this.Model.Cobro != null) ? this.Model.Cobro.IdCobro : 0);
            console.log(IdCobro);

            if (IdCobro != 0) {
                $("#IdCobro").val(IdCobro);
            }

        }

        function guardar() {
                var dataCobro = {
                    IdCobro: $("#IdCobro").val(),
                    IdPersona: $("#IdCliente").val(),
                    IdCasa: $("#IdCasa").val(),
                    anno: $("#Anno").val(),
                    mes: $("#Mes").val()
                };

                var dataServicios = obtCheckboxes();

                console.log(dataCobro);

                $.post("/Cobro/CrearModificarCobro", { cobro: dataCobro, servicios: dataServicios }, function (data) {
                    $("#MsgDialog").dialog("open");
                });
        }

        $(document).ready(function () {

            var idPersona = @((this.Model.Cobro != null) ? this.Model.Cobro.IdPersona : 0);
            var idCasa = @((this.Model.Cobro != null) ? this.Model.Cobro.IdCasa : 0);
            var idUsuario = @((this.Model.Usuario != null) ? this.Model.Usuario.Id : 0);
            var tipo = "@((this.Model.Usuario != null) ? this.Model.Usuario.Tipo : string.Empty)";


            $("#MsgDialog").dialog({
                autoOpen: false,
                modal: true,
                width: 'auto',
                height: 'auto'
            });

            $("#CerrarModal").on("click", function () {
                $("#dialog").dialog("close");
                location.replace("/Cobro/Index");
            });

            if (tipo === "Cliente") {
                loadDropdown("/Cobro/Clientes", {}, $("#IdCliente"), idUsuario);
                loadDropdown("/Cobro/Casas", { idCliente: idUsuario}, $("#IdCasa"));
            }
            else {
                loadDropdown("/Cobro/Clientes", {}, $("#IdCliente"), idPersona);
            }

            if (idCasa != 0) {
                loadDropdown("/Cobro/Casas", { idCliente: idPersona}, $("#IdCasa"), idCasa);
            }

            cargar();
            setChanges();
            obtCheckboxes();
        });

    </script>
}
