@model G03_Sistema_Condominios.Models.ModelCobroView

@{
    ViewBag.Title = "CrearModificarCobro";
}




<div class="mt-4">

    <form method="post" id="FormCobro">

        <input type="hidden" id="IdCobro" name="IdCobro"/>

        <div class="mb-3">
            <label class="form-label" for="IdCliente">Cliente</label>
            <select id="IdCliente" name="IdCliente" class="form-control">
                <option value="">Seleccione una opción</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="IdCasa">Casa</label>
            <select id="IdCasa" name="IdCasa" class="form-control">
                <option value="">Seleccione una opción</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="Anno">Año</label>
                       
            <select id="Anno" name="Anno" class="form-control">
                <option value="">Seleccione una opción</option>
                @{
                    foreach (var anno in this.Model.annos)
                    {
                        <option value="@anno">@anno</option>
                    }
                }
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="Mes">Mes</label>
            <select id="Mes" name="Mes" class="form-control">
                <option value="">Seleccione una opción</option>
                @{
                    var contador = 1;
                    foreach (var mes in this.Model.meses)
                    {
                        <option value="@contador">@mes</option>
                        contador = contador + 1;
                    }
                }
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="Servicios">Servicios</label>

            @{
                foreach (var servicio in this.Model.Servicios)
                {
                    if (servicio.Estado)
                    {
                        <div>
                            <input type="checkbox" id="@servicio.Id_servicio" name="Servicios" value="@servicio.Id_servicio" checked=""/>
                            <label for="@servicio.Id_servicio">@servicio.NombreCategoria : @servicio.Nombre</label>
                        </div>
                        
                    }

                }
            }

        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>

    </form>



    <div class="mt-5">
        @ViewBag.Prueba
    </div>

</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/validacionesGenericas.js"></script>
    <script type="text/javascript">
        $("#FormCobro").validate({
            rules: {
                'IdCliente': {
                    required: true
                },
                'IdCasa': {
                    required: true
                },
                'Anno': {
                    required: true
                },
                'Mes': {
                    required: true
                },
                'Servicios': {
                    required: true
                }
            },
             submitHandler: function (form) {
                guardar();
            }
            
            
        });

        function loadDropdown(url, parametros, ddl, selected) {
            $.ajax({
                url: url,
                datatype: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(parametros),
                success: function (data) {
                    ddl.empty();
                    ddl.append("<option value=''>Seleccione una opción</option>");
                    $(data).each(function () {
                        var option = new Option(this.Nombre, this.Id);
                        if (this.Id == selected) {
                            option.selected = true;
                        }
                        ddl.append(option);
                    });

                },
                error: function (jQxhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        };

        function setChanges() {
            $("#IdCliente").change(function () {
                loadDropdown("/Cobro/Casas", { idCliente: $("#IdCliente").val() }, $("#IdCasa"));
            });
        };

        function obtCheckboxes() {
           
            var checkboxes = document.querySelectorAll('input[name="Servicios"]:checked');
            var list = [];

            $.each($("input[name='Servicios']:checked"), function () {
                list.push($(this).val());
            });

            console.log(list);

            return list;
        }

        function guardar() {

            var dataCobro = {
                IdCobro: $("#IdCobro").val(),
                IdCasa: $("#IdCasa").val(),
                anno: $("#Anno").val(),
                mes: $("#Mes").val() 
            };

            var dataServicios = obtCheckboxes();

            console.log(dataCobro);

            $.post("/Cobro/CrearModificarCobro", { cobro: dataCobro, servicios: dataServicios }, function (data) {
                alert(data); location.reload();
            });

        }

        $(document).ready(function () {
            loadDropdown("/Cobro/Clientes", {}, $("#IdCliente"));
            setChanges();
            obtCheckboxes();
        });

    </script>
}
