@model G03_Sistema_Condominios.Models.ModelCobroView


@{
    ViewBag.Title = "DetalleCobro";
}

<h2>Detalle del cobro</h2>

<div>
    <div>
        <table class="table table-bordered border-secondary w-25">
            <tr>
                <td class="bg-secondary bg-opacity-25 "># Cobro</td>
                <td>@this.Model.Cobro.IdCobro</td>
            </tr>
            <tr>
                <td class="bg-secondary bg-opacity-25 ">Propietario</td>
                <td>@this.Model.Cobro.Persona</td>
            </tr>
            <tr>
                <td class="bg-secondary bg-opacity-25 ">Nombre casa</td>
                <td>@this.Model.Cobro.NumCasa</td>
            </tr>
            <tr>
                <td class="bg-secondary bg-opacity-25 ">Monto cobro</td>
                <td>@this.Model.Cobro.monto</td>
            </tr>
            <tr>
                <td class="bg-secondary bg-opacity-25 ">Precio casa</td>
                <td>@this.Model.Cobro.PrecioCasa</td>
            </tr>
            <tr>
                <td class="bg-secondary bg-opacity-25 ">Periodo</td>

                @{ 
                    var mes = string.Empty;

                    switch (this.Model.Cobro.mes)
                    {
                        case 1:
                            mes = "Enero";
                            break;
                        case 2:
                            mes = "Febrero";
                            break;
                        case 3:
                            mes = "Marzo";
                            break;
                        case 4:
                            mes = "Abril";
                            break;
                        case 5:
                            mes = "Mayo";
                            break;
                        case 6:
                            mes = "Junio";
                            break;
                        case 7:
                            mes = "Julio";
                            break;
                        case 8:
                            mes = "Agosto";
                            break;
                        case 9:
                            mes = "Septiembre";
                            break;
                        case 10:
                            mes = "Octubre";
                            break;
                        case 11:
                            mes = "Noviembre";
                            break;
                        case 12:
                            mes = "Diciembre";
                            break;
                    }
                }
                <td>@mes - @this.Model.Cobro.anno</td>
            </tr>
            <tr>
                <td class="bg-secondary bg-opacity-25 ">Estado</td>
                <td>@this.Model.Cobro.estado</td>
            </tr>
        </table>
    </div>

    <div class="mb-3">
        <label class="form-label text-secondary" for="Servicios">Servicios</label>

        @{
            var validador = false;

            foreach (var servicio in this.Model.Servicios)
            {
                if (servicio.Estado)
                {
                    if (this.Model.Cobro != null)
                    {
                        foreach (var detalleCobro in this.Model.DetalleCobro)
                        {
                            if (detalleCobro.Id_servicio == servicio.Id_servicio)
                            {
                                <div>
                                    <input type="checkbox" id="@servicio.Id_servicio" name="Servicios" value="@servicio.Id_servicio" checked disabled/>
                                    <label for="@servicio.Id_servicio">@servicio.NombreCategoria : @servicio.Nombre</label>
                                </div>

                                validador = true;
                            }
                        }

                    }

                    if (!validador)
                    {
                        <div>
                            <input type="checkbox" id="@servicio.Id_servicio" name="Servicios" value="@servicio.Id_servicio" disabled/>
                            <label for="@servicio.Id_servicio">@servicio.NombreCategoria : @servicio.Nombre</label>
                        </div>
                    }

                    validador = false;
                }

            }
        }

    </div>

    <div>
        <span>@Html.ActionLink("Editar", "CrearModificarCobro", "Cobro", new { idCobro = this.Model.Cobro.IdCobro }, new { @class = "btn btn-primary" })</span>
        <span>@Html.ActionLink("Pagar", "", "", new { }, new { @class = "btn btn-success" })</span>
        <span>@Html.ActionLink("Eliminar", "", "", new { }, new { @class = "btn btn-danger" })</span>
        <span class="mx-3">@Html.ActionLink("Regresar", "Index", "Cobro", new { }, new { @class = "btn btn-secundary btn-outline-dark" })</span>
    </div>

    <div class="mt-3">
        <h3>Lista de acciones realizadas</h3>

        <table class="table table-bordered border-dark w-50 text-center">
            <tr class="bg-dark bg-opacity-50  text-light">
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Realizado por</th>
            </tr>

            @foreach(var bitacora in this.Model.Bitacora)
            {
                <tr>
                    <td>@bitacora.Fecha</td>
                    <td>@bitacora.Detalle</td>
                    <td>@bitacora.Usuario</td>
                </tr>
            }

        </table>

    </div>


</div>

