
@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobrosResult>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div>

    <div class="my-4">
        @Html.ActionLink("Nuevo cobro", "CrearModificarCobro", "Cobro", new { }, new { @class = "btn btn-primary" })
    </div>

    <table class="table table-hover table-bordered">
        <tr class="text-center">
            <th ># Cobro</th>
            <th># Casa</th>
            <th># Propietario</th>
            <th>Periodo</th>
            <th>Estado</th>
        </tr>
    @{
        foreach (DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobrosResult co in this.Model)
        {
            <tr class="text-center">
                <td>@co.Id_cobro</td>
                <td>@co.Nombre_casa</td>
                <td>@co.Persona</td>
                <td>@co.Mes - @co.Anno</td>
                <td>@co.Estado</td>
                <td> @Html.ActionLink("Modificar", "CrearModificarCobro", "Cobro", new { idCobro = co.Id_cobro }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    }
    </table>


</div>