
@model G03_Sistema_Condominios.Models.ModelCobroView

@{
    ViewBag.Title = "Index";
}

@if (Session["UserTipo"].Equals("Empleado"))
{
    <h2>Gestionar Cobros</h2>
}
else
{
    <h2>Mis Cobros</h2>
}

@* TempData persiste datos entre solicitudes HTTP y se borra después de ser leído por la vista.
    Al usarlo, el mensaje estará disponible en la nueva solicitud generada por RedirectToAction,
    garantizando que el usuario lo vea en la vista Index. *@
@if (TempData["Resultado"] != null)
{
    <div class="alert alert-warning my-2">
        @TempData["Resultado"]
    </div>
}

<div class="mt-4">

    @if (Session["UserTipo"].Equals("Empleado"))
    {

        <form id="filterForm">

            <div class="row">

                <div class="form-group col-3">
                    <label for="propietario" class="form-label">Propietario:</label>
                    @if (ViewBag.Clientes != null)
                    {
                        <select id="propietario" name="propietario" class="form-control">
                            <option value="">Seleccione un cliente</option>
                            @foreach (var cliente in ViewBag.Clientes)
                            {
                                <option value="@cliente.Id">@cliente.Nombre</option>
                            }
                        </select>
                    }
                </div>

                <div class="form-group col-3">
                    <label for="estado" class="form-label">Estado:</label>
                    <select id="estado" name="estado" class="form-control">
                        <option value="">Seleccione un estado</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Pagado">Pagado</option>
                        <option value="Eliminado">Eliminado</option>
                    </select>
                </div>

                <div class="form-group col-2">
                    <label for="mes" class="form-label">Mes:</label>
                    @{
                        var contador = 1;
                        var m = (this.Model.Cobro != null) ? this.Model.Cobro.mes : 0;

                        <select id="mes" name="mes" class="form-control">
                            <option value="">Seleccione un mes</option>
                            @foreach (var mes in this.Model.meses)
                            {
                                <option value="@contador">@mes</option>

                                contador = contador + 1;
                            }
                        </select>

                    }
                </div>

                <div class="form-group col-2">
                    <label for="anno" class="form-label">Año:</label>
                    <select id="anno" name="anno" class="form-control">
                        <option value="">Seleccione un año</option>

                        @foreach (var anno in this.Model.annos)
                        {
                            <option value="@anno">@anno</option>

                        }
                    </select>
                </div>

                <div class="form-group col-1">
                    <label class="form-label">&nbsp</label>
                    <button type="button" class="form-control btn btn-primary " onclick="filtrarCobros()">Filtrar</button>
                </div>

            </div>


        </form>
    }

    <div class="my-4">
        @Html.ActionLink("Nuevo cobro", "CrearModificarCobro", "Cobro", new { }, new { @class = "btn btn-primary" })
    </div>

    <div class="col-md-9 w-100">
        <div id="CobrosTable">
            @Html.Partial("CobrosTable", Model)
        </div>
    </div>


</div>


@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function filtrarCobros() {
            $.ajax({
                url: '@Url.Action("FiltrarCobros", "Cobro")',
                type: 'POST',
                data: $('#filterForm').serialize(),
                success: function (result) {
                    $('#CobrosTable').html(result);
                    $('#propietario').val("");
                    $('#estado').val("");
                    $('#mes').val("");
                    $('#anno').val("");

                },
                error: function (xhr, status, error) {
                    alert('Ocurrió un error al filtrar los cobros: ' + error);
                }
            });
        }
    </script>
}