@model G03_Sistema_Condominios.Models.ModelCobroView
@{
    ViewBag.Title = "Index";
}

<h2>Gestionar Servicios</h2>

<div class="m-3">
    @Html.ActionLink("Crear Servicio", "CrearServicio", null, new { @class = "btn btn-primary" })
</div>

@* TempData persiste datos entre solicitudes HTTP y se borra después de ser leído por la vista. 
   Al usarlo, el mensaje estará disponible en la nueva solicitud generada por RedirectToAction, 
   garantizando que el usuario lo vea en la vista Index. *@
@if (TempData["Resultado"] != null)
{
    <div class="alert alert-warning">
        @TempData["Resultado"]
    </div>
}

<table class="table table-bordered table-bordered table-striped">

    <tr>
        <th>Id Servicio</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Id Categoría</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>

    @*Se hace un foreach para que podamos indicar nada mas una vez los rows y estos se vayan repitiendo automaticamente*@
    @{
        foreach (var es in this.Model.Servicios)
        {
            <tr>
                <td>@es.Id_servicio</td>
                <td>@es.Nombre</td>
                <td>@es.Descripcion</td>
                <td>₡@string.Format("{0:N2}",es.Precio)</td>
                <td>@es.Id_categoria</td>
                <td>@(es.Estado ? "Activo" : "Inactivo")</td> 
                <td>
                    @Html.ActionLink("Modificar Servicio", "CrearServicio", "Servicios", new { IdServicio = es.Id_servicio }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    }
</table>

